/* .icon {
  vertical-align: sub;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
} */

footer > p + p {
  margin-top: 0;
}

footer > p:not(:last-child) {
  margin-bottom: 0.25rem;
}

img.creative-commons {
  height: 22px !important;
  margin-left: 3px;
  vertical-align: text-bottom;
}
