/target

# Ignore JetBrains/IDEA/IntelliJ/CLion/RustRover files
.idea/

# Ignore dir used for site staging files
_site/

# Site files
.hugo_build.lock
site/static/doc/*
!site/static/doc/index.html
site/static/man/
